footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellowgreen;
    color: whitesmoke;
    text-align: center;
    height: 30px;
}
header{
    background-color: yellowgreen;
    height: 7%;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flexbox;
    text-align: left;
    
}
p{
    display: inline-flex;
    
}
button{
    display: inline-flex;
    border-radius: 20%;
    margin: 10px;
    background-color: rgb(50, 50, 50);
    border: none;
    color: seashell;
    box-shadow: 0 0 10px rgb(20, 70, 100);
}
img{
    width: 130px;
}
aside{
    display: flex;
    float: right;
    width: 150px;
    position: relative;
    top: 10%;
    right: 0;
}
a{
    text-decoration: none;
}
div{
    margin:5px;
}
section{
    display: flex;
    position: fixed;
    top: 7%;
    width: 1200px;
    
    background-color: rgba(255, 255, 255,0.5);
}
h2{
    font-size: 15px;
}
body{
    background-image: url(./img/maxresdefault\ \(2\).jpg);
    text-align: center;
}